@model HTyo.Models.JobOrder

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>JobOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Orderer" class="control-label"></label>
                <input asp-for="Orderer" class="form-control" />
                <span asp-validation-for="Orderer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <input asp-for="JobDescription" class="form-control" />
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadyDate" class="control-label"></label>
                <input asp-for="ReadyDate" class="form-control" />
                <span asp-validation-for="ReadyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptedOrderDate" class="control-label"></label>
                <input asp-for="AcceptedOrderDate" class="form-control" />
                <span asp-validation-for="AcceptedOrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RejectedOrderDate" class="control-label"></label>
                <input asp-for="RejectedOrderDate" class="form-control" />
                <span asp-validation-for="RejectedOrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobComment" class="control-label"></label>
                <input asp-for="JobComment" class="form-control" />
                <span asp-validation-for="JobComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolsComment" class="control-label"></label>
                <input asp-for="ToolsComment" class="form-control" />
                <span asp-validation-for="ToolsComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursOnJob" class="control-label"></label>
                <input asp-for="HoursOnJob" class="form-control" />
                <span asp-validation-for="HoursOnJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceEstimate" class="control-label"></label>
                <input asp-for="PriceEstimate" class="form-control" />
                <span asp-validation-for="PriceEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
